* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}

button:hover {
    cursor: pointer;
}

input:hover {
    cursor: pointer;
}

#scary {
    color: red;
    font-weight: 900;
}

#italics {
    font-style: italic;
}

.showdiv {
    display: block;
}

.hidediv {
    display: none;
}

footer {
    position: absolute;
    left: 10px;
    bottom: 10px;
}